.container{
    /* width:700px; */
    background-color: #eaff00;
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:50vw;
    gap:30px;
}
.row{
    display: flex;
}
.cell{
    height:20px;
    width: 20px;
    border:solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}
button{
    width:70px;
    height:50px;
}

.colorcolor{
    background-color: blue;
}
.colorcolor1{
    background-color: red;
}